openapi: 3.0.3
info:
  title: Easier Prop REST API
  version: 2.0.0
  description: |
    MT5 Trading Infrastructure API. Manage multiple broker accounts, execute trades, stream market data, and administer API keys.

    **Client API** endpoints live under `/api` and require an `X-API-Key` header.
    **Admin API** endpoints live under `/admin` and accept either a JWT `Authorization: Bearer <jwt>` (obtained via `/admin/login`) or the same `X-API-Key` header used by client endpoints.

servers:
  - url: https://api.easierprop.com
    description: Production

components:
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: X-API-Key
      description: Client API key (prefixed with `sk_`)
    BearerAuth:
      type: http
      scheme: bearer
      description: JWT token obtained from POST /admin/login

  schemas:
    # ── Accounts ──────────────────────────────────────────────────────
    Account:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "70f60784-20f1-45ba-9a04-8e01c0b810c3"
        label:
          type: string
          example: "ICMarkets Demo"
        broker_host:
          type: string
          example: "mt5-demo.icmarkets.com"
        broker_port:
          type: integer
          example: 443
        server_name:
          type: string
          nullable: true
          example: "ICMarketsSC-Demo"
        mt5_login:
          type: integer
          format: int64
          example: 51234567
        is_enabled:
          type: boolean
          example: true
        auto_connect:
          type: boolean
          example: false
        hardware_id:
          type: string
          nullable: true
        has_proxy:
          type: boolean
          example: false
        session_status:
          type: string
          enum: [connected, disconnected]
          example: "disconnected"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CreateAccountRequest:
      type: object
      required: [label, mt5_login, password]
      properties:
        label:
          type: string
          description: Friendly name
          example: "ICMarkets Demo"
        broker_host:
          type: string
          description: MT5 broker server hostname or IP
          example: "mt5-demo.icmarkets.com"
        broker_port:
          type: integer
          description: Broker port
          default: 443
          example: 443
        server_name:
          type: string
          description: MT5 server name (alternative to host/port)
          example: "ICMarketsSC-Demo"
        mt5_login:
          type: integer
          format: int64
          description: MT5 account number
          example: 51234567
        password:
          type: string
          description: MT5 account password (stored encrypted with AES-256-GCM)
          example: "MyP@ssw0rd"
        auto_connect:
          type: boolean
          description: Auto-connect on gateway start
          default: false
        hardware_id:
          type: string
          description: Optional hardware ID for the MT5 terminal
        proxy_host:
          type: string
          description: SOCKS5 proxy hostname
        proxy_port:
          type: integer
          description: SOCKS5 proxy port
        proxy_user:
          type: string
          description: Proxy username
        proxy_password:
          type: string
          description: Proxy password

    UpdateAccountRequest:
      type: object
      properties:
        label:
          type: string
        broker_host:
          type: string
        broker_port:
          type: integer
        server_name:
          type: string
        mt5_login:
          type: integer
          format: int64
        password:
          type: string
        is_enabled:
          type: boolean
        auto_connect:
          type: boolean
        hardware_id:
          type: string
        proxy_host:
          type: string
        proxy_port:
          type: integer
        proxy_user:
          type: string
        proxy_password:
          type: string

    # ── Sessions ──────────────────────────────────────────────────────
    SessionConnect:
      type: object
      properties:
        account_id:
          type: string
          format: uuid
        connected:
          type: boolean
          example: true

    SessionStatus:
      type: object
      properties:
        connected:
          type: boolean
          example: true
        connected_since_secs:
          type: integer
          nullable: true
          example: 3421
        reconnect_count:
          type: integer
          example: 0

    # ── Trading ───────────────────────────────────────────────────────
    Order:
      type: object
      description: Full order/position object as returned by the broker
      properties:
        ticket:
          type: integer
          format: int64
          example: 12345678
        symbol:
          type: string
          example: "EURUSD"
        orderType:
          type: string
          example: "Buy"
        lots:
          type: number
          example: 0.01
        openPrice:
          type: number
          example: 1.08542
        stopLoss:
          type: number
          example: 0.0
        takeProfit:
          type: number
          example: 0.0
        profit:
          type: number
          example: 3.20
        swap:
          type: number
          example: 0.0
        commission:
          type: number
          example: -0.07
        comment:
          type: string
          example: ""
        openTime:
          type: string
          example: "2026-04-01T12:00:00"
        closePrice:
          type: number
          example: 0.0
        closeTime:
          type: string
          example: ""
        dealType:
          type: string
          example: "Buy"
        digits:
          type: integer
          example: 5
        contractSize:
          type: number
          example: 100000
        volume:
          type: number
          example: 0.01
        state:
          type: string
          example: "Filled"
        fillPolicy:
          type: string
          example: "FillOrKill"
        expirationType:
          type: string
          example: "GTC"
        expertId:
          type: integer
          format: int64
          example: 0
        dealInternalIn:
          type: integer
          format: int64
          example: 0
        dealInternalOut:
          type: integer
          format: int64
          example: 0
        orderInternal:
          type: integer
          format: int64
          example: 0
        partialCloseDeals:
          type: array
          items:
            type: object
        partialFillDeals:
          type: array
          items:
            type: object
        placedType:
          type: string
          example: "ByClient"
        profitRate:
          type: number
          example: 1.0
        requestId:
          type: integer
          format: int64
          example: 0
        stopLimitPrice:
          type: number
          example: 0.0
        fee:
          type: number
          example: 0.0
        closeComment:
          type: string
          example: ""
        closeLots:
          type: number
          example: 0.0
        closeVolume:
          type: number
          example: 0.0
        openTimestampUTC:
          type: integer
          format: int64
          example: 1711972800
        closeTimestampUTC:
          type: integer
          format: int64
          example: 0
        expirationTime:
          type: string
          example: ""

    OrderRequest:
      type: object
      required: [symbol, side, type, volume]
      properties:
        symbol:
          type: string
          description: Trading instrument
          example: "EURUSD"
        side:
          type: string
          enum: [buy, sell]
          example: "buy"
        type:
          type: string
          enum: [market, limit, stop, stop_limit]
          example: "market"
        volume:
          type: number
          description: Lot size
          example: 0.01
        price:
          type: number
          description: Required for limit/stop orders
        sl:
          type: number
          description: Stop loss price
        tp:
          type: number
          description: Take profit price
        deviation:
          type: integer
          description: Max slippage in points
        comment:
          type: string
          description: Order comment visible in MT5

    ModifyOrderRequest:
      type: object
      properties:
        price:
          type: number
          description: New price (pending orders)
        sl:
          type: number
          description: New stop loss
        tp:
          type: number
          description: New take profit

    CloseOrderRequest:
      type: object
      properties:
        volume:
          type: number
          description: Partial close volume. Omit to close entirely.

    # ── Account Info ──────────────────────────────────────────────────
    AccountSummary:
      type: object
      properties:
        balance:
          type: number
          example: 10000.00
        credit:
          type: number
          example: 0.00
        currency:
          type: string
          example: "USD"
        equity:
          type: number
          example: 10142.50
        freeMargin:
          type: number
          example: 9642.50
        isInvestor:
          type: boolean
          example: false
        leverage:
          type: integer
          example: 100
        margin:
          type: number
          example: 500.00
        marginLevel:
          type: number
          example: 2028.50
        method:
          type: string
          example: "Exchange"
        profit:
          type: number
          example: 142.50
        type:
          type: string
          example: "Hedging"

    AccountDetails:
      type: object
      properties:
        accountLeverage:
          type: integer
          example: 100
        accountMethod:
          type: string
          example: "Exchange"
        accountName:
          type: string
          example: "John Doe"
        accountType:
          type: string
          example: "Hedging"
        company:
          type: string
          example: "IC Markets"
        currency:
          type: string
          example: "USD"
        group:
          type: string
          example: "demo\\hedging\\USD"
        host:
          type: string
          example: "mt5-demo.icmarkets.com"
        isInvestor:
          type: boolean
          example: false
        password:
          type: string
          example: ""
        port:
          type: integer
          example: 443
        serverName:
          type: string
          example: "ICMarketsSC-Demo"
        serverTime:
          type: string
          example: "2026-04-01T12:00:00"
        serverTimeZone:
          type: string
          example: "UTC"
        user:
          type: integer
          format: int64
          example: 51234567

    # ── Market Data ───────────────────────────────────────────────────
    Quote:
      type: object
      properties:
        ask:
          type: number
          example: 1.08544
        bid:
          type: number
          example: 1.08542
        last:
          type: number
          example: 0.0
        symbol:
          type: string
          example: "EURUSD"
        time:
          type: string
          example: "2026-04-01T12:30:00"
        volume:
          type: number
          example: 0.0

    OhlcBar:
      type: object
      properties:
        time:
          type: string
        open:
          type: number
        high:
          type: number
        low:
          type: number
        close:
          type: number
        tickVolume:
          type: integer

    MarketStatusItem:
      type: object
      properties:
        symbol:
          type: string
          example: "EURUSD"
        tradeable:
          type: boolean
          example: true
        bid:
          type: number
          example: 1.08542
        ask:
          type: number
          example: 1.08544
        spread_points:
          type: integer
          example: 2
        spread_pips:
          type: number
          example: 0.2
        digits:
          type: integer
          example: 5

    # ── Enhanced ──────────────────────────────────────────────────────
    Portfolio:
      type: object
      properties:
        account:
          type: string
          format: uuid
        positions:
          type: array
          items:
            $ref: "#/components/schemas/Order"
        position_count:
          type: integer
          example: 3
        total_profit:
          type: number
          example: 142.50
        total_swap:
          type: number
          example: -1.20
        total_commission:
          type: number
          example: -0.21

    Risk:
      type: object
      properties:
        balance:
          type: number
          example: 10000.00
        equity:
          type: number
          example: 10142.50
        margin_used:
          type: number
          example: 500.00
        margin_free:
          type: number
          example: 9642.50
        margin_level_pct:
          type: number
          example: 2028.50
        floating_pl:
          type: number
          example: 142.50
        drawdown_from_balance:
          type: number
          example: -142.50
        drawdown_pct:
          type: number
          example: 1.42
        exposure:
          type: array
          items:
            type: object
            properties:
              symbol:
                type: string
                example: "EURUSD"
              side:
                type: string
                example: "buy"
              lots:
                type: number
                example: 0.01
              profit:
                type: number
                example: 3.20
              positions:
                type: integer
                example: 1
        total_lots:
          type: number
          example: 0.03
        position_count:
          type: integer
          example: 3

    Performance:
      type: object
      properties:
        total_trades:
          type: integer
          example: 11
        winning_trades:
          type: integer
          example: 6
        losing_trades:
          type: integer
          example: 5
        win_rate:
          type: number
          example: 54.5
        total_profit:
          type: number
          example: 269.00
        total_loss:
          type: number
          example: -126.50
        net_profit:
          type: number
          example: 142.50
        profit_factor:
          type: number
          example: 2.13
        avg_win:
          type: number
          example: 45.20
        avg_loss:
          type: number
          example: -25.30
        best_trade:
          type: number
          example: 120.00
        worst_trade:
          type: number
          example: -50.00
        avg_trade_duration_secs:
          type: number
          example: 3600

    MarginCheck:
      type: object
      properties:
        symbol:
          type: string
          example: "EURUSD"
        side:
          type: string
          example: "buy"
        volume:
          type: number
          example: 0.01
        required_margin:
          type: number
          example: 500.00
        free_margin:
          type: number
          example: 9642.50
        can_trade:
          type: boolean
          example: true
        margin_usage_pct:
          type: number
          example: 4.93
        remaining_after:
          type: number
          example: 9142.50

    LotCalculation:
      type: object
      properties:
        symbol:
          type: string
          example: "EURUSD"
        lots:
          type: number
          example: 0.10
        risk_dollars:
          type: number
          example: 100.00
        sl_points:
          type: number
          example: 100
        contract_size:
          type: number
          example: 100000
        tick_value:
          type: number
          example: 1.0
        tick_size:
          type: number
          example: 0.00001
        digits:
          type: integer
          example: 5
        current_price:
          type: number
          example: 1.08542
        value_per_point:
          type: number
          example: 1.0

    PositionDetail:
      description: Order with additional netProfit field
      allOf:
        - $ref: "#/components/schemas/Order"
        - type: object
          properties:
            netProfit:
              type: number
              example: 3.13

    Breakeven:
      type: object
      properties:
        ticket:
          type: integer
          format: int64
          example: 12345678
        symbol:
          type: string
          example: "EURUSD"
        open_price:
          type: number
          example: 1.08542
        old_sl:
          type: number
          example: 0.0
        new_sl:
          type: number
          example: 1.08542
        result:
          type: string
          example: "ok"

    CloseAll:
      type: object
      properties:
        closed:
          type: array
          items:
            type: integer
            format: int64
          example: [12345678, 12345679]
        failed:
          type: array
          items:
            type: object
        total_closed:
          type: integer
          example: 2
        total_failed:
          type: integer
          example: 0

    CopyTradeRequest:
      type: object
      required: [account_ids, symbol, side, type, volume]
      properties:
        account_ids:
          type: array
          items:
            type: string
            format: uuid
          description: Target account IDs to place the trade on
        symbol:
          type: string
          example: "EURUSD"
        side:
          type: string
          enum: [buy, sell]
          example: "buy"
        type:
          type: string
          enum: [market, limit, stop, stop_limit]
          example: "market"
        volume:
          type: number
          example: 0.01
        price:
          type: number
        sl:
          type: number
        tp:
          type: number
        comment:
          type: string

    CopyTradeResult:
      type: object
      properties:
        results:
          type: array
          items:
            type: object
        succeeded:
          type: integer
          example: 2
        failed:
          type: integer
          example: 0

    HedgeRequest:
      type: object
      required: [prop_account_id, broker_account_id, symbol, direction, prop_lots, broker_lots]
      properties:
        prop_account_id:
          type: string
          format: uuid
          description: Prop firm account ID
        broker_account_id:
          type: string
          format: uuid
          description: Personal broker account ID
        symbol:
          type: string
          example: "EURUSD"
        direction:
          type: string
          enum: [long, short]
          example: "long"
        prop_lots:
          type: number
          description: Lot size for the prop account
          example: 0.10
        broker_lots:
          type: number
          description: Lot size for the broker account
          example: 0.10
        sl:
          type: number
          description: Stop loss price
        tp:
          type: number
          description: Take profit price
        comment:
          type: string
          description: Order comment

    HedgeResult:
      type: object
      properties:
        prop_ticket:
          type: integer
          format: int64
          example: 12345678
        broker_ticket:
          type: integer
          format: int64
          example: 87654321
        prop_result:
          type: object
        broker_result:
          type: object
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Hedge placed successfully"

    # ── Admin ─────────────────────────────────────────────────────────
    AdminLoginRequest:
      type: object
      required: [username, password]
      properties:
        username:
          type: string
          example: "admin"
        password:
          type: string
          example: "s3cret"

    AdminLoginResponse:
      type: object
      properties:
        token:
          type: string
          example: "eyJhbGciOiJIUzI1NiIs..."
        admin:
          type: object
          properties:
            id:
              type: integer
              example: 1
            username:
              type: string
              example: "admin"
            role:
              type: string
              example: "admin"

    ApiKey:
      type: object
      properties:
        key:
          type: string
          description: Full API key (only returned on creation)
          example: "sk_live_abc123..."
        id:
          type: integer
          example: 1
        label:
          type: string
          nullable: true
          example: "Production key"
        prefix:
          type: string
          example: "sk_live_abc"
        max_accounts:
          type: integer
          example: 4
        is_active:
          type: boolean
          example: true
        admin_id:
          type: integer
          example: 1
        created_at:
          type: string
          format: date-time

    CreateApiKeyRequest:
      type: object
      properties:
        label:
          type: string
          description: Optional friendly label
          example: "Production key"

    # ── Expert Advisors ──────────────────────────────────────────────
    UploadEaRequest:
      type: object
      required: [name, file]
      properties:
        name:
          type: string
          description: Display name for the EA
          example: "MA Crossover"
        file:
          type: string
          format: binary
          description: The .mq5 file to upload

    EaInputParam:
      type: object
      properties:
        name:
          type: string
          example: "InpPeriod"
        type:
          type: string
          example: "int"
        default:
          type: string
          example: "14"

    ExpertAdvisor:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
        admin_id:
          type: string
          format: uuid
        name:
          type: string
          example: "MA Crossover"
        original_name:
          type: string
          example: "MACross.mq5"
        status:
          type: string
          enum: [ready, error]
          example: "ready"
        input_params:
          type: array
          items:
            $ref: "#/components/schemas/EaInputParam"
        event_handlers:
          type: array
          items:
            type: string
          example: ["OnInit", "OnTick", "OnDeinit"]
        error:
          type: string
          description: Error message if status is "error"
          example: ""
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    # ── Common ────────────────────────────────────────────────────────
    Error:
      type: object
      properties:
        ok:
          type: boolean
          example: false
        error:
          type: object
          properties:
            code:
              type: string
              example: "ACCOUNT_NOT_FOUND"
            message:
              type: string
              example: "Account not found"

  responses:
    Unauthorized:
      description: Invalid or missing API key / JWT
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

  parameters:
    accountId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Account ID
    ticket:
      name: ticket
      in: path
      required: true
      schema:
        type: integer
        format: int64
      description: Order/position ticket number
    symbol:
      name: symbol
      in: path
      required: true
      schema:
        type: string
      description: Instrument name (e.g. EURUSD)

tags:
  - name: Admin
    description: Authentication, API key management, and admin user CRUD
  - name: Accounts
    description: Register and manage MT5 broker accounts
  - name: Sessions
    description: Control broker connections
  - name: Trading
    description: Place, modify, and close orders
  - name: Account Info
    description: Balance, equity, margin, and statistics
  - name: Market Data
    description: Symbols, quotes, OHLC history, and trade sessions
  - name: Enhanced
    description: Portfolio, risk, performance, copy-trade, hedge, breakeven, close-all, lot calculator, and position details

paths:
  # ════════════════════════════════════════════════════════════════════
  #  ADMIN
  # ════════════════════════════════════════════════════════════════════
  /admin/login:
    post:
      operationId: adminLogin
      tags: [Admin]
      summary: Admin login
      description: Authenticate with username and password. Returns a JWT token for subsequent admin API calls.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdminLoginRequest"
      responses:
        "200":
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/AdminLoginResponse"
        "401":
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /admin/keys:
    post:
      operationId: createApiKey
      tags: [Admin]
      summary: Create API key
      description: Generate a new API key. The full key is only returned once in the response.
      security:
        - BearerAuth: []
        - ApiKeyHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateApiKeyRequest"
      responses:
        "200":
          description: API key created
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/ApiKey"

    get:
      operationId: listApiKeys
      tags: [Admin]
      summary: List API keys
      description: List all API keys.
      security:
        - BearerAuth: []
        - ApiKeyHeader: []
      responses:
        "200":
          description: API key list
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/ApiKey"

  /admin/keys/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: API key ID
    delete:
      operationId: revokeApiKey
      tags: [Admin]
      summary: Revoke API key
      description: Permanently revoke an API key. All accounts associated with this key will no longer be accessible.
      security:
        - BearerAuth: []
        - ApiKeyHeader: []
      responses:
        "200":
          description: Key revoked
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true

  /admin/accounts:
    get:
      operationId: adminListAccounts
      tags: [Admin]
      summary: List MT5 accounts
      description: List all MT5 accounts.
      security:
        - BearerAuth: []
        - ApiKeyHeader: []
      responses:
        "200":
          description: Account list
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Account"

  # ── EA Management ─────────────────────────────────────────────────
  /admin/eas:
    post:
      operationId: uploadEa
      tags: [Admin]
      summary: Upload Expert Advisor
      description: |
        Upload an MQL5 Expert Advisor (.mq5) file. The source is processed and stored.
        On success the EA status is `ready`; if processing fails, status is `error` with details in the `error` field.
      security:
        - BearerAuth: []
        - ApiKeyHeader: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/UploadEaRequest"
      responses:
        "200":
          description: EA uploaded
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/ExpertAdvisor"

    get:
      operationId: listEas
      tags: [Admin]
      summary: List Expert Advisors
      description: List all uploaded Expert Advisors.
      security:
        - BearerAuth: []
        - ApiKeyHeader: []
      responses:
        "200":
          description: EA list
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/ExpertAdvisor"

  /admin/eas/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: EA ID
    get:
      operationId: getEa
      tags: [Admin]
      summary: Get Expert Advisor
      description: Get details of a specific EA.
      security:
        - BearerAuth: []
        - ApiKeyHeader: []
      responses:
        "200":
          description: EA details
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/ExpertAdvisor"
    delete:
      operationId: deleteEa
      tags: [Admin]
      summary: Delete Expert Advisor
      description: Permanently delete an Expert Advisor.
      security:
        - BearerAuth: []
        - ApiKeyHeader: []
      responses:
        "200":
          description: EA deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true

  # ════════════════════════════════════════════════════════════════════
  #  ACCOUNTS
  # ════════════════════════════════════════════════════════════════════
  /api/accounts:
    post:
      operationId: createAccount
      tags: [Accounts]
      summary: Create account
      description: |
        Register a new MT5 broker account. Credentials are encrypted at rest with AES-256-GCM.
        The account limit is controlled by the API key's `max_accounts` setting.
      security:
        - ApiKeyHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAccountRequest"
      responses:
        "200":
          description: Account created
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/Account"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          description: Account limit reached
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    get:
      operationId: listAccounts
      tags: [Accounts]
      summary: List accounts
      description: Returns all MT5 accounts for the authenticated API key with live session status.
      security:
        - ApiKeyHeader: []
      responses:
        "200":
          description: Account list
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Account"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/accounts/{id}:
    parameters:
      - $ref: "#/components/parameters/accountId"

    get:
      operationId: getAccount
      tags: [Accounts]
      summary: Get account
      description: Returns a single account by ID.
      security:
        - ApiKeyHeader: []
      responses:
        "200":
          description: Account
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/Account"
        "404":
          $ref: "#/components/responses/NotFound"

    put:
      operationId: updateAccount
      tags: [Accounts]
      summary: Update account
      description: Partial update. Only include fields you want to change. Updating credentials disconnects the active session.
      security:
        - ApiKeyHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAccountRequest"
      responses:
        "200":
          description: Updated account
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/Account"
        "404":
          $ref: "#/components/responses/NotFound"

    delete:
      operationId: deleteAccount
      tags: [Accounts]
      summary: Delete account
      description: Permanently delete an account. Disconnects any active session.
      security:
        - ApiKeyHeader: []
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
        "404":
          $ref: "#/components/responses/NotFound"

  # ════════════════════════════════════════════════════════════════════
  #  SESSIONS
  # ════════════════════════════════════════════════════════════════════
  /api/accounts/{id}/connect:
    parameters:
      - $ref: "#/components/parameters/accountId"
    post:
      operationId: connectAccount
      tags: [Sessions]
      summary: Connect
      description: Explicitly connect to the MT5 broker. Not required since all endpoints auto-connect when needed.
      security:
        - ApiKeyHeader: []
      responses:
        "200":
          description: Connected
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/SessionConnect"
        "502":
          description: Connection failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/accounts/{id}/disconnect:
    parameters:
      - $ref: "#/components/parameters/accountId"
    post:
      operationId: disconnectAccount
      tags: [Sessions]
      summary: Disconnect
      description: Explicitly disconnect from the broker.
      security:
        - ApiKeyHeader: []
      responses:
        "200":
          description: Disconnected
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      disconnected:
                        type: boolean
                        example: true

  /api/accounts/{id}/status:
    parameters:
      - $ref: "#/components/parameters/accountId"
    get:
      operationId: connectionStatus
      tags: [Sessions]
      summary: Connection status
      description: Check session state without triggering a connect.
      security:
        - ApiKeyHeader: []
      responses:
        "200":
          description: Status
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/SessionStatus"

  # ════════════════════════════════════════════════════════════════════
  #  TRADING
  # ════════════════════════════════════════════════════════════════════
  /api/accounts/{id}/orders:
    parameters:
      - $ref: "#/components/parameters/accountId"

    post:
      operationId: createOrder
      tags: [Trading]
      summary: Place order
      description: |
        Send a new order to the broker. Supports market, limit, stop, and stop-limit orders.

        **Side + Type mapping:**
        - `buy` + `market` = Buy
        - `sell` + `market` = Sell
        - `buy` + `limit` = BuyLimit
        - `sell` + `limit` = SellLimit
        - `buy` + `stop` = BuyStop
        - `sell` + `stop` = SellStop
        - `buy` + `stop_limit` = BuyStopLimit
        - `sell` + `stop_limit` = SellStopLimit
      security:
        - ApiKeyHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderRequest"
      responses:
        "200":
          description: Order result
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/Order"
        "422":
          description: Order rejected by broker
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    get:
      operationId: listOpenOrders
      tags: [Trading]
      summary: List open orders
      description: Returns all open positions and pending orders.
      security:
        - ApiKeyHeader: []
      responses:
        "200":
          description: Open orders
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Order"

  /api/accounts/{id}/orders/{ticket}:
    parameters:
      - $ref: "#/components/parameters/accountId"
      - $ref: "#/components/parameters/ticket"

    put:
      operationId: modifyOrder
      tags: [Trading]
      summary: Modify order
      description: Modify an existing open or pending order's price, stop loss, or take profit.
      security:
        - ApiKeyHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ModifyOrderRequest"
      responses:
        "200":
          description: Modification result
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/Order"

    delete:
      operationId: closeOrder
      tags: [Trading]
      summary: Close order
      description: Close a position or cancel a pending order. Optionally close partial volume.
      security:
        - ApiKeyHeader: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CloseOrderRequest"
      responses:
        "200":
          description: Close result
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/Order"

  /api/accounts/{id}/orders/history:
    parameters:
      - $ref: "#/components/parameters/accountId"
      - name: from
        in: query
        required: true
        schema:
          type: string
        description: "Start datetime (YYYY-MM-DDTHH:mm:ss)"
        example: "2026-01-01T00:00:00"
      - name: to
        in: query
        required: true
        schema:
          type: string
        description: "End datetime (YYYY-MM-DDTHH:mm:ss)"
        example: "2026-04-01T23:59:59"
    get:
      operationId: orderHistory
      tags: [Trading]
      summary: Order history
      description: Returns closed orders within a date range.
      security:
        - ApiKeyHeader: []
      responses:
        "200":
          description: Closed orders
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Order"

  # ════════════════════════════════════════════════════════════════════
  #  ACCOUNT INFO
  # ════════════════════════════════════════════════════════════════════
  /api/accounts/{id}/summary:
    parameters:
      - $ref: "#/components/parameters/accountId"
    get:
      operationId: accountSummary
      tags: [Account Info]
      summary: Account summary
      description: Returns balance, equity, margin, profit, leverage, currency, credit, type, method, and investor flag.
      security:
        - ApiKeyHeader: []
      responses:
        "200":
          description: Account summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/AccountSummary"

  /api/accounts/{id}/details:
    parameters:
      - $ref: "#/components/parameters/accountId"
    get:
      operationId: accountDetails
      tags: [Account Info]
      summary: Account details
      description: Returns full account information including name, company, server, group, and timezone.
      security:
        - ApiKeyHeader: []
      responses:
        "200":
          description: Account details
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/AccountDetails"

  /api/accounts/{id}/equity-history:
    parameters:
      - $ref: "#/components/parameters/accountId"
      - name: from
        in: query
        required: true
        schema:
          type: string
        description: "Start datetime (YYYY-MM-DDTHH:mm:ss)"
      - name: timeframe
        in: query
        schema:
          type: string
          enum: [H1, H4, D1]
          default: H1
        description: Timeframe for equity snapshots
    get:
      operationId: equityHistory
      tags: [Account Info]
      summary: Equity history
      description: Returns balance and equity over time at the specified timeframe resolution.
      security:
        - ApiKeyHeader: []
      responses:
        "200":
          description: Equity data points
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      type: object

  /api/accounts/{id}/trade-stats:
    parameters:
      - $ref: "#/components/parameters/accountId"
      - name: from
        in: query
        required: true
        schema:
          type: string
        description: "Start datetime (YYYY-MM-DDTHH:mm:ss)"
    get:
      operationId: tradeStats
      tags: [Account Info]
      summary: Trade statistics
      description: Returns trading performance metrics including profit factor, win rate, and drawdown.
      security:
        - ApiKeyHeader: []
      responses:
        "200":
          description: Trade stats
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  data:
                    type: object

  # ════════════════════════════════════════════════════════════════════
  #  MARKET DATA
  # ════════════════════════════════════════════════════════════════════
  /api/accounts/{id}/symbols:
    parameters:
      - $ref: "#/components/parameters/accountId"
    get:
      operationId: listSymbols
      tags: [Market Data]
      summary: List symbols
      description: Returns all trading instruments available on the broker with full specifications.
      security:
        - ApiKeyHeader: []
      responses:
        "200":
          description: Symbol list with specs
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      type: object

  /api/accounts/{id}/symbol-names:
    parameters:
      - $ref: "#/components/parameters/accountId"
    get:
      operationId: listSymbolNames
      tags: [Market Data]
      summary: List symbol names
      description: Returns just the symbol name strings. Lightweight alternative to the full symbol list.
      security:
        - ApiKeyHeader: []
      responses:
        "200":
          description: Symbol name list
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      type: string
                    example: ["EURUSD", "GBPUSD", "USDJPY"]

  /api/accounts/{id}/symbols/{symbol}:
    parameters:
      - $ref: "#/components/parameters/accountId"
      - $ref: "#/components/parameters/symbol"
    get:
      operationId: symbolParams
      tags: [Market Data]
      summary: Symbol details
      description: Returns full symbol specification including spread, swap rates, margin requirements, and trading sessions.
      security:
        - ApiKeyHeader: []
      responses:
        "200":
          description: Symbol details
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  data:
                    type: object

  /api/accounts/{id}/symbols/batch:
    parameters:
      - $ref: "#/components/parameters/accountId"
    post:
      operationId: batchSymbols
      tags: [Market Data]
      summary: Batch symbol specs
      description: Returns full specifications for multiple symbols in one request.
      security:
        - ApiKeyHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [symbols]
              properties:
                symbols:
                  type: array
                  items:
                    type: string
                  example: ["EURUSD", "GBPUSD", "USDJPY"]
      responses:
        "200":
          description: Symbol specs
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      type: object

  /api/accounts/{id}/quote/{symbol}:
    parameters:
      - $ref: "#/components/parameters/accountId"
      - $ref: "#/components/parameters/symbol"
    get:
      operationId: getQuote
      tags: [Market Data]
      summary: Get quote
      description: Returns current bid/ask for a single symbol.
      security:
        - ApiKeyHeader: []
      responses:
        "200":
          description: Quote
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/Quote"

  /api/accounts/{id}/quotes:
    parameters:
      - $ref: "#/components/parameters/accountId"
    post:
      operationId: batchQuotes
      tags: [Market Data]
      summary: Batch quotes
      description: Fetch bid/ask quotes for multiple symbols in one request.
      security:
        - ApiKeyHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [symbols]
              properties:
                symbols:
                  type: array
                  items:
                    type: string
                  example: ["EURUSD", "GBPUSD", "USDJPY"]
      responses:
        "200":
          description: Quotes
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Quote"

  /api/accounts/{id}/ohlc/{symbol}:
    parameters:
      - $ref: "#/components/parameters/accountId"
      - $ref: "#/components/parameters/symbol"
      - name: from
        in: query
        required: true
        schema:
          type: string
        description: "Start datetime (YYYY-MM-DDTHH:mm:ss)"
      - name: to
        in: query
        required: true
        schema:
          type: string
        description: "End datetime (YYYY-MM-DDTHH:mm:ss)"
      - name: timeframe
        in: query
        schema:
          type: integer
          default: 60
        description: "Timeframe in minutes (1=M1, 5=M5, 15=M15, 60=H1, 240=H4, 1440=D1)"
    get:
      operationId: getOhlc
      tags: [Market Data]
      summary: OHLC by date range
      description: Returns candlestick data for a symbol within a date range.
      security:
        - ApiKeyHeader: []
      responses:
        "200":
          description: OHLC bars
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/OhlcBar"

  /api/accounts/{id}/ohlc/{symbol}/latest:
    parameters:
      - $ref: "#/components/parameters/accountId"
      - $ref: "#/components/parameters/symbol"
      - name: timeframe
        in: query
        schema:
          type: integer
          default: 60
        description: "Timeframe in minutes (1=M1, 5=M5, 15=M15, 60=H1, 240=H4, 1440=D1)"
      - name: count
        in: query
        schema:
          type: integer
          default: 100
        description: Number of bars to return
    get:
      operationId: getLatestOhlc
      tags: [Market Data]
      summary: Latest OHLC bars
      description: Returns the last N candlestick bars for a symbol.
      security:
        - ApiKeyHeader: []
      responses:
        "200":
          description: OHLC bars
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/OhlcBar"

  /api/accounts/{id}/trade-session/{symbol}:
    parameters:
      - $ref: "#/components/parameters/accountId"
      - $ref: "#/components/parameters/symbol"
    get:
      operationId: tradeSession
      tags: [Market Data]
      summary: Trade session
      description: Returns whether the market is currently open for a symbol.
      security:
        - ApiKeyHeader: []
      responses:
        "200":
          description: Trade session info
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  data:
                    type: object

  # ════════════════════════════════════════════════════════════════════
  #  ENHANCED
  # ════════════════════════════════════════════════════════════════════
  /api/accounts/{id}/portfolio:
    parameters:
      - $ref: "#/components/parameters/accountId"
    get:
      operationId: getPortfolio
      tags: [Enhanced]
      summary: Portfolio overview
      description: Returns account summary plus all open positions with aggregated profit, swap, and commission totals.
      security:
        - ApiKeyHeader: []
      responses:
        "200":
          description: Portfolio
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/Portfolio"

  /api/accounts/{id}/risk:
    parameters:
      - $ref: "#/components/parameters/accountId"
    get:
      operationId: getRisk
      tags: [Enhanced]
      summary: Risk report
      description: Returns real-time risk metrics including drawdown, margin usage, per-symbol exposure breakdown, and floating P&L.
      security:
        - ApiKeyHeader: []
      responses:
        "200":
          description: Risk report
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/Risk"

  /api/accounts/{id}/performance:
    parameters:
      - $ref: "#/components/parameters/accountId"
      - name: from
        in: query
        required: true
        schema:
          type: string
        description: "Start datetime (YYYY-MM-DDTHH:mm:ss)"
    get:
      operationId: getPerformance
      tags: [Enhanced]
      summary: Performance metrics
      description: Returns trading performance including win rate, profit factor, average win/loss, best/worst trades, and average trade duration.
      security:
        - ApiKeyHeader: []
      responses:
        "200":
          description: Performance
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/Performance"

  /api/accounts/{id}/market-status:
    parameters:
      - $ref: "#/components/parameters/accountId"
      - name: symbols
        in: query
        required: true
        schema:
          type: string
        description: Comma-separated symbol list
        example: "EURUSD,GBPUSD,USDJPY"
    get:
      operationId: marketStatus
      tags: [Enhanced]
      summary: Market status
      description: Returns bid, ask, spread, and tradeable status for the requested symbols.
      security:
        - ApiKeyHeader: []
      responses:
        "200":
          description: Market status
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/MarketStatusItem"

  /api/accounts/{id}/margin-check:
    parameters:
      - $ref: "#/components/parameters/accountId"
    post:
      operationId: marginCheck
      tags: [Enhanced]
      summary: Margin check
      description: Pre-trade margin check. Returns required margin, remaining free margin, and whether the trade can be placed.
      security:
        - ApiKeyHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [symbol, side, volume]
              properties:
                symbol:
                  type: string
                  example: "EURUSD"
                side:
                  type: string
                  enum: [buy, sell]
                  example: "buy"
                volume:
                  type: number
                  example: 0.01
      responses:
        "200":
          description: Margin check result
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/MarginCheck"

  /api/accounts/{id}/lot-calculator:
    parameters:
      - $ref: "#/components/parameters/accountId"
    post:
      operationId: lotCalculator
      tags: [Enhanced]
      summary: Lot calculator
      description: Calculate the appropriate lot size based on risk in dollars and stop loss distance in points.
      security:
        - ApiKeyHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [symbol, side, risk_dollars, sl_points]
              properties:
                symbol:
                  type: string
                  example: "EURUSD"
                side:
                  type: string
                  enum: [buy, sell]
                  example: "buy"
                risk_dollars:
                  type: number
                  description: Maximum risk amount in account currency
                  example: 100.00
                sl_points:
                  type: number
                  description: Stop loss distance in points
                  example: 100
      responses:
        "200":
          description: Lot calculation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/LotCalculation"

  /api/accounts/{id}/positions/{ticket}:
    parameters:
      - $ref: "#/components/parameters/accountId"
      - $ref: "#/components/parameters/ticket"
    get:
      operationId: getPositionDetail
      tags: [Enhanced]
      summary: Position detail
      description: Returns full detail for a single open position, including netProfit (profit + swap + commission).
      security:
        - ApiKeyHeader: []
      responses:
        "200":
          description: Position detail
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/PositionDetail"

  /api/accounts/{id}/positions/{ticket}/fills:
    parameters:
      - $ref: "#/components/parameters/accountId"
      - $ref: "#/components/parameters/ticket"
    get:
      operationId: getPositionFills
      tags: [Enhanced]
      summary: Position fills
      description: Returns all deals/fills associated with a position ticket.
      security:
        - ApiKeyHeader: []
      responses:
        "200":
          description: Fill list
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      type: object

  /api/accounts/{id}/orders/{ticket}/breakeven:
    parameters:
      - $ref: "#/components/parameters/accountId"
      - $ref: "#/components/parameters/ticket"
    post:
      operationId: setBreakeven
      tags: [Enhanced]
      summary: Set breakeven
      description: Move the stop loss to the open price (breakeven) for a position.
      security:
        - ApiKeyHeader: []
      responses:
        "200":
          description: Breakeven result
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/Breakeven"

  /api/accounts/{id}/close-all:
    parameters:
      - $ref: "#/components/parameters/accountId"
    post:
      operationId: closeAllPositions
      tags: [Enhanced]
      summary: Close all positions
      description: Close all open positions for the account. Returns a summary of closed and failed tickets.
      security:
        - ApiKeyHeader: []
      responses:
        "200":
          description: Close-all result
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/CloseAll"

  /api/accounts/{id}/orders/history/paginated:
    parameters:
      - $ref: "#/components/parameters/accountId"
      - name: from
        in: query
        required: true
        schema:
          type: string
        description: "Start datetime (YYYY-MM-DDTHH:mm:ss)"
      - name: to
        in: query
        required: true
        schema:
          type: string
        description: "End datetime (YYYY-MM-DDTHH:mm:ss)"
      - name: page
        in: query
        schema:
          type: integer
          default: 1
        description: Page number
      - name: per_page
        in: query
        schema:
          type: integer
          default: 50
        description: Results per page
    get:
      operationId: orderHistoryPaginated
      tags: [Enhanced]
      summary: Paginated order history
      description: Returns closed orders within a date range with pagination support.
      security:
        - ApiKeyHeader: []
      responses:
        "200":
          description: Paginated order list
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  data:
                    type: object

  /api/accounts/{id}/orders/history/pending:
    parameters:
      - $ref: "#/components/parameters/accountId"
      - name: from
        in: query
        required: true
        schema:
          type: string
        description: "Start datetime (YYYY-MM-DDTHH:mm:ss)"
      - name: to
        in: query
        required: true
        schema:
          type: string
        description: "End datetime (YYYY-MM-DDTHH:mm:ss)"
    get:
      operationId: pendingOrderHistory
      tags: [Enhanced]
      summary: Pending order history
      description: Returns historical pending orders (cancelled, expired, or triggered) within a date range.
      security:
        - ApiKeyHeader: []
      responses:
        "200":
          description: Pending order history
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Order"

  /api/copy-trade:
    post:
      operationId: copyTrade
      tags: [Enhanced]
      summary: Copy trade
      description: Place the same trade on multiple accounts simultaneously. Returns per-account results.
      security:
        - ApiKeyHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CopyTradeRequest"
      responses:
        "200":
          description: Copy trade result
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/CopyTradeResult"

  /api/hedge:
    post:
      operationId: hedge
      tags: [Enhanced]
      summary: Hedge trade
      description: |
        Open opposing positions on a prop account and a personal broker account simultaneously.
        The prop account gets the directional trade, the broker account gets the opposite side.
      security:
        - ApiKeyHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HedgeRequest"
      responses:
        "200":
          description: Hedge result
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/HedgeResult"

